<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>puppies</title>
</head>
<body>
  <h1>Add Puppy</h1>
  <form action="/puppies" method="POST">
    <input autocomplete="off" placeholder="Name" name="name" type="text">
    <input autocomplete="off" placeholder="Age" name="age" type="number">
    <input autocomplete="off" placeholder="Breed" name="breed" type="text">
    <button type="submit">Arf!</button>
  </form>
</body>
</html>